.packageList{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    height: 80vh;
}

.title{
    text-align: center;
    text-decoration: underline;
    font-size: large;
}

.detail-sheet {
    border: 1px solid black;
    width: 80%;
    text-align: left;
}

.detail-sheet {
    background-color: moccasin;
}

.detail-sheet tr td{
    background-color:lightcyan;
    border: 1px solid black;
}